
DJANGO__DEBUG=True

DJANGO__SECRET_KEY="django-insecure-awjg3)*4h4ugg858rxy_m3b*=iq==0$o0la$*b*$%zkw97qp+x"

DJANGO__ALLOWED_HOSTS=


POSTGRES_HOST=localhost
POSTGRES_PORT=15432

POSTGRES_DB='django_db'
POSTGRES_USER='django_user'
POSTGRES_PASSWORD='2eywh6Cz4z5W9hGQUbKaeiwT36KKy6F481gLN2u1gcqnr8lCPT'

MY_MIDDLEWARE="apps.middlewares.middleware.LoggingMiddleware"