{% extends 'base.html' %}

{% block content %}

    {% include 'templates_for__contacts_db/helpers/custom_navigation.html' %}

    <div>
    <h2>Contacts</h2><hr>
        <table border="1" class="table table-striped table-hover table-bordered border-warning table-sm">
            <thead class="table-dark">
                <tr>
                    <td align="center"><b>№</b></td>
                    <td align="center"><b>Name</b></td>
                    <td align="center"><b>Phone number</b></td>
                    <td align="center"><b>Date of birth</b></td>
                    <td align="center"><b>Detailed information</b></td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                {% for contact in contacts %}
                    <td align="center">{{ contact.pk }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone_number }}</td>
                    <td>{{ contact.date_of_birth }}</td>
                    <td align="center">
                        {% include 'templates_for__contacts_db/helpers/read_more_button.html' %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock %}
