{% extends 'base.html' %}

{% block content %}

    {% include 'templates_for__contacts_db/helpers/custom_navigation.html' %}

    <h2>{{ title }}</h2><hr>

    <form action="{% url 'contacts_db:read_contact' %}" method="get">
        <label>
            <input name="q" type="text" placeholder="Enter ID">
        </label>
    </form><br>

    <form action="{% url 'contacts_db:index' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary btn-sm" value="Go back to main page">
    </form>

{% endblock %}