{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'templates_for__contacts_db/helpers/custom_navigation.html' %}

    <h2>{{ title }}</h2><hr>

    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-5 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="form-group col-md-5 mb-0">
                {{ form.phone_number|as_crispy_field }}
            </div>
            <div class="form-group col-md-5 mb-0">
                {{ form.date_of_birth|as_crispy_field }}
            </div>
        </div>
        <input type="submit" class="btn btn-success btn-sm" value="Update contact">
    </form><br>

    <form action="{% url 'contacts_db:index' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-secondary btn-sm" value="Go back to main page">
    </form>
{% endblock %}